node_modules
.dist
*.pyc
__pycache__
backend/dist
frontend/dist
.DS_Store
output/*.wav
output/*.mid
output/*.pdf
composer-ai/output/*.wav
composer-ai/output/*.mid
composer-ai/output/*.pdf
# 🔒 Secrets to ignore
backend/firebase-service-account.json
.env
